<app-header></app-header>

<div class="container">
	<p>Listado Alumnos</p>
<table datatable class="row-border hover" id="basic-table">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Documento</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Curso</th>
      <th>Accion</th>
      <th>Reporte</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaAlumnos; let in = index">
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.documento}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.telefono}}</td>
      <td>{{item.curso}}</td>
      <td><button type="button" class="btn btn-primary" (click)="Actualizar(item.id,item.nombre,item.apellido,item.documento,item.direccion,item.telefono,item.curso)">Actualizar</button></td>
      <td><button type="button" class="btn btn-warning" (click)="download(item.id)">Generar Reporte</button></td>
    </tr>
  </tbody>
</table>
</div>	
