<app-header></app-header>

<div class="container">
	<p>Listado Notas</p>
<table datatable class="row-border hover" id="basic-table" >
  <thead>
    <tr>
      <th>Valor</th>
      <th>Fecha</th>
      <th>Materia</th>
      <th>Alumno</th>
      <th>Reporte</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaNotas; let in = index">
      <td>{{item.valor}}</td>
      <td>{{item.fecha}}</td>
      <td>{{item.materias_id}}</td>
      <td>{{item.alumnos_id}}</td>
      <td><button type="button" class="btn btn-warning" (click)="download(item.id)">Generar Reporte</button></td>
    </tr>
  </tbody>
</table>
</div>	